<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Project</title>
</head>
<style>
    body{
        text-align:center
    }
    #loginBtn{
        background-color:white;
    }
    #loginBtn:active{
        background-color:skyblue;
    }
    #signupBtn{
        background-color:white;
        border: none;
    }
    #signupBtn:active{
        background-color:skyblue;
        border: none;
        font-size: 1.2rem;
    }
    #title{
        color:skyblue;
        font-family:Courier New;
        font-style:italic;
    }
</style>
<body>
<img src="https://image.cine21.com/resize/cine21/movie/2023/0328/10_39_29__6422455157da0[W578-].jpg" width="500"><br>
<b id="title">언젠가 세상은 영화가 될 것이다</b>
<h1><b>LOGIN</b></h1>
<p><a href="/oauth2/authorization/naver">네이버로그인</a></p><br>
<button id="signupBtn" onclick="location.href='/signup'">회원가입</button>
</body>
</html>