<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Project</title>
</head>
<body>
<img width="300" src="https://m.media-amazon.com/images/M/MV5BMTc1ODM5YjQtMmQzNS00Y2FkLWJhNTgtYTE5ZDY0NjQyNmRjXkEyXkFqcGdeQXVyMTY3ODE5NTY1._V1_FMjpg_UX1000_.jpg"><br>
<span><b>Title: May December<b/></span>
<h3>May December is a 2023 American drama film directed by Todd Haynes from a screenplay by Samy Burch, based on a story by Burch and Alex Mechanik.</h3>
</body>
</html>