<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<style>
    body{
        text-align:center
    }
    #loginBtn{
        background-color:white;
        border: none;
    }
    #loginBtn:active{
        background-color:yellow;
        border: none;
        font-size: 1.2rem;
    }
    #signupBtn{
        background-color:white;

    }
    #signupBtn:active{
        background-color:skyblue;
    }
</style>
<body>
<h1>WELCOME!</h1>
<form method="post" action="/join">
    <input name="email" type="text" placeholder="이메일"><br>
    <input name="username" type="text" placeholder="아이디"><br>
    <input name="nickname" type="text" placeholder="닉네임"><br>
    <input name="password" type="password" placeholder="비밀번호"><br><br>
    <button type="submit" id="signupBtn">회원가입</button><br><br>
</form>
</body>
</html>